.tooltip {
  position: absolute;
  display: none;
  background-color: rgb(88, 20, 20);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.underlined {
  background-color: yellow;
  font-weight: bold;
  color: black;
}