.tooltip {
  position: absolute;
  display: none;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  color: black;
}